<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>  
  <!-- <script src="https://kit.fontawesome.com/bb057fc686.js" crossorigin="anonymous"></script>  -->

  <link rel="stylesheet" type="text/css" href="lightslider.css" />
  <script src="./jquery.js"></script>
  <!-- light sliderjs -->
  <script src="./lightslider.css"></script>
 


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
  <link rel="shortcut icon" href="images/chase-cashoutempire-100x100-1.jpg  ">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>


  <link rel="stylesheet" href="/index.css"/>
  <!-- <link rel="stylesheet" href="/www.worldcreativestudio.com/mobil-nav.css"> -->

  <title>Creative Studio</title> 
</head>





<header>



  <nav>


    <!--      
            <div class="list-item"> -->
    <ul class="nav-list" id="main-list">
      <li><a href="/">Home</a></li>
      <li>

        <a href="/submenu/browse-all.html" style="position: sticky;">
          SHOP&CATEGORIES <i class="fas fa-angle-down"></i> </a>


        <ul class="sub-menu">

          <li>
            <a href="#" class="info">More Items </a>
            <ul class="sub-menu" id="menu-1">

              <li><a href="/submenu/dumps.html">Dumps</a></li>
              <li><a href="/submenu/paypal.html">Paypal</a></li>
              <li><a href="/submenu/genesis.html">Genesis Market</a></li>
              <li><a href="/submenu/groupon.html">Groupon</a></li>
              <li><a href="/submenu/ID&Dl.html">ID&DL</a></li>
              <li><a href="/submenu/browse-all.html">Shop/Browse-All</a></li>
              <li><a href="/submenu/bankdrops.html">Bank Drops</a></li>
              <li><a href="/submenu/counterfeit.html">Counterfeit Items</a></li>
              <li><a href="/submenu/credit.html">Credit Items</a></li>

          </li>
        </ul>
      </li>

      <li><a href="/submenu/burners.html"> Burners</a></li>
      <li><a href="/submenu/carded.html">carded E-GiftCards</a></li>
      <li><a href="/submenu/carded.html"> Carded Products</a></li>
      <li><a href="/submenu/westernunion.html">Western Union</a></li>
      <li><a href="/submenu/deposit.html">Deposit Checks</a></li>
      <li><a href="/submenu/database.html">Databases</a></li>
      <li><a href="/submenu/cashapp.html">Cash App</a></li>
      <li><a href="/submenu/pua.html">PUA&FULLZ</a></li>
      <li><a href="/submenu/browse-all.html">Browse ALL</a></li>





    </ul>
    </li>

    <li>
      <a href="./FAQ.html">HELP&SUPPORT <i class="fas fa-angle-down"></i></a>



      <ul class="sub-menu" id="menu-2">
        <li><a href="./FAQ.html"> FAQ</a></li>
      </ul>
    </li>

    <li>
      <a href="#">ABOUT<i class="fas fa-angle-down"></i> </a>

      <ul class="sub-menu" id="menu-3">
        <li><a href="contact.html"> About</a></li>
      </ul>
    </li>
    <li><a href="contact.html"> CONTACT </a></li>
    <li class="cart"><a href="/cart"><i class="fas fa-shopping-basket"></i> cart
        <span>0</span></a></li>
    <!-- <li>Cart/</li> -->


    </ul>
    <!-- </div>
         -->

  </nav>





  <!-- start of moblie navbar -->

  <div class="mobile-container-nav">
    <div class="menu-cart">


      <div class="mienu-btn">
        <i class="fas fa-bars"></i>

      </div>

      <div class="cart-log">

        <div class="mobile-cart">
          <a href="/cart"><i class="fas fa-shopping-basket">

          </i> 
          cart
            <span>0</span></a>
        </div>


      </div>

    </div>
    <div class="option-nav">
      <div class="cloze-btn">
        <i class="fas fa-times"></i>
      </div>

      <div class="menu-items-bar">
        <div class="mnus">
          <a href="index.html"><i class="fas fa-desktop"> Creative Studio</i></a>
        </div>
        <div class="mnus">
          <a class="sub-btton">
            <i class="fas fa-warehouse">Shopping&Category-1
              <i class="fas fa-angle-right drp-btn"></i></i></a>
          <div class="sub-mennu">
            <a href="submenu/dumps.html" class="sub-ittem">Dumps</a>
            <a href="submenu/paypal.html" class="sub-ittem">Paypal</a>
            <a href="submenu/genesis.html" class="sub-ittem">Genesis Market</a>
            <a href="submenu/groupon.html" class="sub-ittem">Groupon</a>

            <a href="submenu/bankdrops.html" class="sub-ittem">Bank Drops</a>
            <a href="submenu/counterfeit.html" class="sub-ittem">Counterfeit Items</a>
          </div>
        </div>
        <div class="mnus">
          <a class="sub-btton">
            <i class="fas fa-warehouse">Shopping&Category-2
              <i class="fas fa-angle-right drp-btn"></i> </i></a>
          <div class="sub-mennu">
            <a href="submenu/burners.html" class="sub-ittem">Burners</a>
            <a href="submenu/carded.html" class="sub-ittem">Carded E-Gift Cards</a>

            <a href="submenu/westernunion.html" class="sub-ittem">Western Union</a>

            <a href="submenu/deposit.html" class="sub-ittem">Deposit Checks</a>
            <a href="submenu/database.html" class="sub-ittem">Databases</a>
            <a href="submenu/cashapp.html" class="sub-ittem">Cash App</a>
          </div>
        </div>
        <div class="mnus">
          <a href="#"><i class="fas fa-shopping-cart"> Cart</i></a>
        </div>
        <div class="mnus">
          <a class="sub-btton"><i class="fas fa-info-circle">
              Help and Support <i class="fas fa-angle-right drp-btn"></i></i></a>
          <div class="sub-mennu">
            <a href="FAQ.html" class="sub-ittem">FAQ</a>
          </div>
        </div>
        <div class="mnus">
          <a href="https://www.google.com/"><i class="fas fa-power-off"> Log Out</i></a>
        </div>
      </div>
      <div class="menu-close"></div>
    </div>


  </div>
  <!-- end of mobile nav bar -->


  <!-- </div> -->
</header>




<body>
  <div class="scrollTop" onclick="scrollToTop();">
    <i class="fas fa-arrow-circle-up"></i>
  </div>





  <div class="welcome-message">
    
    <h1 class="welcome-on-landing-page">
      Welcome to Creative Studio <br />
      Over 1600+ sales on Hansa Market
    </h1>
    <div id="landing-image"> <img src="/image/images.jpg" alt="background"></div>
  </div>


  <div class="search-wrapper">
  
    <div class="search-input">
      <input class="input-value" type="text" placeholder="Type to Search.....">
    <div class="autocom-box">

     <li><a href="submenu/dumps.html">Dumps</a></li>
     <li><a href="submenu/paypal.html">Paypal</a></li>
     <li><a href="submenu/genesis.html">Genesis Market</a></li>
     <li><a href="submenu/groupon.html">Groupon</a></li>
     <li><a href="submenu/ID&Dl.html">ID&DL</a></li>
     <li><a href="submenu/browse-all.html">Shop/Browse-All</a></li>
     <li><a href="submenu/bankdrops.html">Bank Drops</a></li>
     <li><a href="submenu/counterfeit.html">Counterfeit Items</a></li>
     <li><a href="submenu/credit.html">Credit Items</a></li>
     <li><a href="submenu/burners.html"> Burners</a></li>
     <li><a href="submenu/carded.html">carded E-GiftCards</a></li>
     <li><a href="submenu/carded.html"> Carded Products</a></li>
     <li><a href="submenu/westernunion.html">Western Union</a></li>
     <li><a href="submenu/deposit.html">Deposit Checks</a></li>
     <li><a href="submenu/database.html">Databases</a></li>
     <li><a href="submenu/cashapp.html">Cash App</a></li>
     <li><a href="submenu/pua.html">PUA&FULLZ</a></li>
     <li><a href="submenu/browse-all.html">Browse ALL</a></li>    



    </div>
    <div class="icon"> <a href="#"><i class="fas fa-search"></i></a> </div>
    
    </div>
    
  </div>



  <div style="text-align: center">
    <h2 class="scroll-animation">
      <i class="fas fa-icon-expand"></i>PRODUCT CATEGORIES
    </h2>
  </div>



  <div>
    <h2 style="text-align: center">Today Deals</h2>
  </div>





  <!-- product container start -->

  <section>

    <div class="slide-container-product1">
      <i class="fas fa-arrow-left arrow" id="slide-left-button"></i>



      <section class="product1-images" id="product1">
        <div class="thumbnail">
          <img src="products/bankdrop.jpeg" alt="">
          <div class="product1-details">
            <h2>Bankdrops Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/bankdrops.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/btc.jpeg" alt="">
          <div class="product1-details">
            <h2>Bitcoin Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/cashapp.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/burners.jpeg" alt="">
          <div class="product1-details">
            <h2>Burners Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/burners.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/cashapp.jpeg" alt="">
          <div class="product1-details">
            <h2> Cash App Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/cashapp.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/counterfeit.jpeg" alt="">
          <div class="product1-details">
            <h2>Counterfeit Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/counterfeit.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/credit card .jpeg" alt="">
          <div class="product1-details">
            <h2>Credit card Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/credit.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/databases .jpeg" alt="">
          <div class="product1-details">
            <h2>Databases Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/database.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/deposit checks.jpeg" alt="">
          <div class="product1-details">
            <h2>Deposit Checks</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/deposit.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/dumps.jpeg" alt="">
          <div class="product1-details">
            <h2>Dumps</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/dumps.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/counterfeit.jpeg" alt="">
          <div class="product1-details">
            <h2>Fake ID</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/counterfeit.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/Genesis-Market.jpeg" alt="">
          <div class="product1-details">
            <h2>Genesis Market</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/genesis.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/carded.jpeg" alt="">
          <div class="product1-details">
            <h2>Gift Card</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/carded.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/groupon.png" alt="">
          <div class="product1-details">
            <h2>Groupon</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/carded.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/paypal.jpeg" alt="">
          <div class="product1-details">
            <h2>Paypal Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/paypal.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/venmo.jpeg" alt="">
          <div class="product1-details">
            <h2>Venmo Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/genesis.html">Go to Product</a>
          </div>
        </div>
        <div class="thumbnail">
          <img src="products/westernunion.jpeg" alt="">
          <div class="product1-details">
            <h2>Western Union Product</h2>
            <p><span> 13 Products</span></p>
            <a href="./submenu/genesis.html">Go to Product</a>
          </div>
        </div>
      </section>



      <i class="fas fa-arrow-right arrow" id="slide-right-button"></i>

    </div>
  </section>











  <!--  product container end -->
  <!-- Cardrs Contianer -->
  <section class="product">
    <h2 class="product-category scroll-animation">Best selling</h2>
    <button class="pre-btn">
      <img src="images/arrow-right-300x300 (converted).png" alt="" />
    </button>
    <button class="nxt-btn">
      <img src="images/arrow-right-300x300 (converted).png" alt="" />
    </button>
    <div class="product-container">
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/Venemo-cashoutempire-100x100-2.png" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Dumps</h2>
          <p class="product-short-des">
            $2,000 Venmo Transfer <br />
            <b>$102.00</b>
            <br>

            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>


          </p>

        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <!-- <span class="dumps"> 50% off </span> -->
          <img src="images/Venemo-cashoutempire-100x100-2.png" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Dumps</h2>
          <p class="product-short-des">
            $1,000 Venmo Transfer <br />
            <b>$80.00</b>
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/Venemo-cashoutempire-100x100-2.png" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Dumps</h2>
          <p class="product-short-des">
            $3,000 Venmo Transfer <br />
            <b>$110.00</b>
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/Venemo-cashoutempire-100x100-2.png" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Dumps</h2>
          <p class="product-short-des">
            $500 Venmo Transfer <br />
            <b>$200.00</b>
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/Venemo-cashoutempire-100x100-2.png" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Dumps</h2>
          <p class="product-short-des">
            $5,000 Venmo Transfer <br />
            <b>$130.00</b>
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/Venemo-cashoutempire-100x100-2.png" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Dumps</h2>
          <p class="product-short-des">
            $4,000 Venmo Transfer <br />
            <b>$100.00</b>
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/Capital-one-cashoutempire-300x300 (converted) (converted).jpg" alt=""
            class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Capital One</h2>
          <p class="product-short-des">$199.00</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <span class="dumps"> 50% off </span>
          <img src="images/chase-cashoutempire-100x100-1.jpg" alt="" class="product-thumb" />
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Chase</h2>
          <p class="product-short-des">$199.00</p>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <br />

  <!--  -->
  <div class="container-shipping">
    <div class="colums">
      <div class="colum">
        <span></span>
        <h2>FREE SHIPPING ON ALL ORDERS</h2>
        <p>
          Get Free Shipping on all orders over $75 and free returns to our UK returns centre! Items are dispatched from
          the US and will arrive in 5-8 days.
        </p>

      </div>
      <div class="colum">
        <span></span>
        <h2>AMAZING CUSTOMER SERVICE</h2>
        <p>Get Free Shipping on all orders over $75 and free returns to our UK returns centre! Items are dispatched from
          the US and will arrive in 5-8 days.</p>
      </div>
      <div class="colum">
        <span></span>
        <h2>NO CUSTOMS OR DUTY FEES!</h2>
        <p>Get Free Shipping on all orders over $75 and free returns to our UK returns centre! Items are dispatched from
          the US and will arrive in 5-8 days.</p>
      </div>
    </div>


  </div>





  <!-- END -->


  <!-- Additional information slider -->


  <section class="testimonials">
    <h2 class="testimonials-title"> What our clients say</h2>
    <div class="container-testimonials">
      <!-- container -->

      <div class="sliids">
        <!-- slides -->
        <div id="sliids-1" class="slide-ctrl"></div>
        <div id="sliids-2" class="slide-ctrl"></div>
        <div id="sliids-3" class="slide-ctrl"></div>


        <figure class="slideee">
          <!-- slide -->
          <div class="star-rating-testimonials">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star"></i>


          </div>

          <blockquote class="testimonial">

            <p>PBR kogi VHS commodo, single-origin coffee selvage kale chips. Fugiat try-hard ad aesthetic, tofu master
              cleanse typewriter tote bag accusamus sustainable ennui hella small batch cliche</p>
            <cite>David Byrne</cite>
          </blockquote>
        </figure>


        <figure class="slideee">
          <div class="star-rating-testimonials">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star"></i>


          </div>

          <blockquote class="testimonial">
            <p>PBR kogi VHS commodo, single-origin coffee selvage kale chips. Fugiat try-hard ad aesthetic, tofu master
              cleanse typewriter tote bag accusamus sustainable ennui hella small batch cliche</p>

            <cite>Mary Poppins</cite>
          </blockquote>
        </figure>

        <figure class="slideee">
          <div class="star-rating-testimonials">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star"></i>


          </div>
          <blockquote class="testimonial">
            <p>PBR kogi VHS commodo, single-origin coffee selvage kale chips. Fugiat try-hard ad aesthetic, tofu master
              cleanse typewriter tote bag accusamus sustainable ennui hella small batch cliche</p>
            <cite>John Doe</cite>
          </blockquote>
        </figure>
        <div class="slides-ctrl">
          <a href="#sliids-1" class="slide-btn">David Byrne</a>
          <a href="#sliids-2" class="slide-btn">Mary Poppins</a>
          <a href="#sliids-3" class="slide-btn">John Doe</a>
        </div>


      </div>
    </div>
  </section>
  <!--  end of section -->

  <!-- start of customer review  -->

  <div class="column-container">

    <div class="latest-product">


      <div class="latest">
        <span>
          <h2 class="review-title">latest</h2>
        </span>


        <div class="review-container">

          <img src="products/groupon.jpeg" alt="Groupons">

          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>



        </div>



        <div class="review-container">

          <img src="products/groupon.jpeg" alt="Groupons">

          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>


        </div>

        <div class="review-container">

          <img src="products/groupon.jpeg" alt="Groupons">
          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p>$ 200.00</p>
            </span>
          </span>
          </a>

        </div>
      </div>

      <div class="latest">
        <span>
          <h2 class="review-title">Best Selling </h2>
        </span>
        <div class="review-container">
          <img src="products/venmo.jpeg" alt="Venmo transfer">


          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>
        <div class="review-container">
          <img src="products/venmo.jpeg" alt="Venmo transfer">

          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>

        <div class="review-container">
          <img src="products/venmo.jpeg" alt="Venmo transfer">

          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>

        <div class="review-container">
          <img src="products/venmo.jpeg" alt="Venmo transfer">

          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>

      </div>

      <div class="latest">
        <span>
          <h2 class="review-title">Top Rated </h2>
        </span>
        <div class="review-container">
          <img src="products/groupon.jpeg" alt="venmo">
          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>
        <div class="review-container">
          <img src="products/groupon.jpeg" alt="venmo">
          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>
        <div class="review-container">
          <img src="products/groupon.jpeg" alt="venmo">
          <span>
            <p>$1500 Current Groupon Logs </p>
            <span>
              <p> $ 200.00</p>
            </span>
          </span>

        </div>



      </div>


    </div>


  </div>












  <!-- end of  customer review  -->


  <!--  end of slider 3 -->


  <!-- start of footer -->
  <footer id="footer" class="section footer">


    <div class="containr">
      <div class="footer__top">
        <div class="footer-top__box">
          <h3> EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificate</a>
          <a href="#">Affiliate</a>
          <a href="#">Speicials</a>
          <a href="#">Site Map</a>

        </div>
        <div class="footer-top__box">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>

        <div class="footer-top__box">
          <h3> MY ACCOUNT</h3>
          <a href="#">My Account</a>
          <a href="#">Order History</a>
          <a href="#">Wish List</a>
          <a href="#">Newsletter</a>
          <a href="#">Returns</a>
        </div>

        <div class="footer-top__box">
          <h3>CONTACT US</h3>
          <span>
            <i class="fas fa-map-marker"> </i>42 Dream House, Dreammy street, 7131 Dreamville, USA
          </span>

        </div>
        <div>
          <span>
            <i class="fas fa-envelope">
            </i> Creativestudio@gmail.com

          </span>
        </div>
        <div>
          <span>
            <i class="fas fa-phone"> </i> 456-456-4512
          </span>
        </div>
        <div>
          <span>
            <i class="fas fa-paper-plane"> </i> Dream City, USA
          </span>
        </div>
      </div>









    </div>
  </footer>

  <!-- End of footer -->

  <script src="./js/nav.js"></script>
  <script>
    $(".mobile-btn").click(function () {
      $(this).toggleClass("click");
      $(".mobile-sidebar").toggleClass("show");
    });
    $(".feat-btn").click(function () {
      $("article ul .feat-show").toggleClass("show");
      $("article ul .first").toggleClass("rotate");
    });
    $(".serv-btn").click(function () {
      $("article ul .serv-show").toggleClass("show1");
      $("article ul .second").toggleClass("rotate");
    });
    $("article ul li").click(function () {
      $(this).addClass("active").siblings().removeClass("active");
    });
  </script>

 <script src="./script.js"></script>
  <script src="./js/home.js"></script>
  <!-- <script type="text/javascript">
    var counter = 1;
    setInterval(function () {
      document.getElementById("radio" + counter).checked = true;
      counter++;
      if (counter > 3) {
        counter = 1;
      }
    }, 5000);
  </script> -->

  <script>
    ScrollReveal({
      reset: true,
      distance: '60px',
      duration: 2500,
      delay: 400
    })

    ScrollReveal().reveal(' .scroll-animation', { delay: 500, origin: 'left' });
    ScrollReveal().reveal('.footer-info', { delay: 300, origin: 'bottom', interval: 200 });
  </script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/61a7407953b398095a66e926/1flql7np1';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  <script>
    $(document).ready(function () {
      //jquery for toggle sub menus
      $(".sub-btton").click(function () {
        $(this).next(".sub-mennu").slideToggle();
        $(this).find(".drp-btn ").toggleClass("rotate");
      });
      //jquery for expand and collapse the slider
      $(".mienu-btn").click(function () {
        $(".option-nav").addClass("active");
        $(".mienu-btn").css("visibility", "hidden");
      });

      // jquery for expand and collapse the slider
      $(".cloze-btn").click(function () {
        $(".option-nav").removeClass("active");
        $(".mienu-btn").css("visibility", "visible");
      });
    });
  </script>
  <!-- <script>
    $(document).ready(function () {
      $("#autoWidth").lightSlider({
        autoWidth: true,
        loop: true,
        onSliderLoad: function () {
          $("#autoWidth").removeClass("cS-hidden");
        },
      });
    });
  </script> -->
  <script src="./variables.js"></script>


  <script src="./submenu/browse.js">
    



  </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  
   <script src="./index.js"></script>
<script>
 
 



</script>
</body>

</html>