<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Sign up </title>
</head>

<body>

    <div class="hero">
        <div class="nav-bar">
            <img src="/logo.png" alt="" class="logo">
            <button type="button" id="btn-signup"> <a href="#box1">Sign up</a></button>

        </div>
        <button type="button" id="btn-signin"> <a href="#box2">Sign in</a></button>
        <div class="content">
            <small>Welcome to Our</small>
            <h1>World's <br> Creative Studio</h1>
            <button type="button">Take a tour </button>
        </div>
        <div class="side-bar">
            <img src="/menu.png" alt="" class="menu">
            <div class="social-links">
                <img src="/fb.png" alt="">
                <img src="/ig.png" alt="">
                <img src="/tw.png" alt="">
            </div>
            <div class="useful-links">
                <img src="/share.png" alt="">
                <img src="/info.png" alt="">

            </div>

        </div>
        <div class="bubbles">
            <img src="images/bubble.png">
            <img src="images/bubble.png">
            <img src="images/bubble.png">
            <img src="images/bubble.png">
            <img src="images/bubble.png">
            <img src="images/bubble.png">



        </div>
    </div>
    <div id="form-box">
        <div class="box" id="box1">

            <form method="post" action=""></form>
            <div style="font-size: 20px; margin:10px; color: antiquewhite;">
                Sign Up
            </div>
            <input id="text-1" type="text" name="user_name" placeholder="Name"> <br><br>
            <input id="text-1" type="password" name="password" placeholder="Password"> <br><br>
            <input id="text1" type="submit" value="Sign up"> <br><br>
            <a href=".box2"> Already have an Account? <h2 style="color: rgb(28, 28, 114);">Sign in</h2> </a>
        </div>

        <div id="0r">
            <h1> Or</h1>
        </div>

        <div class="box" id="box2">

            <form method="post" action=""></form>
            <div style="font-size: 20px; margin:10px; color: antiquewhite;">
                Sign in
            </div>
            <input id="text-1" type="text" name="user_name" placeholder="Name"> <br><br>
            <input id="text-1" type="password" name="password" placeholder="Password"> <br><br>
            <input id="text1" type="submit" value="Sign in"> <br><br>
            <a href="signup.html"> Sign in</h2> </a>
        </div>


    </div>

</body>

</html>